<h1 class = "banner"> <%= "Stupid Coaching" %> </h1>
<p> <%= "YOU : " %> <%= @question %> </p>
<p class = "coach"> <%= "YOUR COACH : "%> <%= @answer %> </p>
<%= link_to "Ask a new question", ask_path %>
